/BankApplication/dist/
/Lab-clg/nbproject/private/
/Lab-clg/build/
/JSP/nbproject/private/
/JSP/build/
/Practical/nbproject/private/
/Product/nbproject/private/
/Product/build/
/Product/dist/
/LoginBeans/nbproject/private/
/mypack/nbproject/private/
/LoginBeans/build/
/ServletProgram/nbproject/private/
/Clg_Practical/nbproject/private/
/JSP_Basic/nbproject/private/
/JSP_Basic/build/
/JSP_Forward_Login/nbproject/private/